#titulo1{
    text-align: center;
    text-transform: uppercase;
    
}

.titulo2{
    text-align: center;
}

.textoamarillo{
    color: yellow;
    text-align: center;
}

.textoazul{
    color: blue;
    text-align: center;
}

.textorojo{
    color: red;
    text-align: center;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2012/04/15/21/27/colombia-35364_1280.png);
}

